* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  background-image: url(back.png);
  background-size:cover;
  background-position:center;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.navbar {
  height: 70px;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* Logo */
.logo img {
  height: 30px;
  filter: invert(1);
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Search */
.search-box {
  display: flex;
  align-items: center;
  background: #bfbfbf;
  padding: 8px 14px;
  border-radius: 6px;
  width: 220px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  margin-left: 8px;
  font-size: 16px;
}

.search-icon {
  font-size: 18px;
}

/* Icons */
.icons {
  display: flex;
  gap: 16px;
}

.icon {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}



.hero {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

/* LEFT */
.hero-left {
  width: 25%;
  color: #fff;
  z-index: 2;
}

.hero-left h1 {
  font-size: 40px;
  font-weight: 700;
}

.hero-left h1 span {
  color: #ff3b7c;
}

.hero-left h2 {
  margin: 20px 0;
  font-size: 28px;
}

.colors p,
.sizes p {
  margin: 20px 0 10px;
  font-size: 14px;
}

.colors .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.white { background: #fff; }
.red { background: #ff3b3b; }
.green { background: #3bff63; }

.sizes button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #222;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.sizes .active {
  background: #fff;
  color: #000;
}

.buy-btn {
  margin-top: 30px;
  padding: 12px 36px;
  background: #ff3b7c;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* CENTER */
.hero-center {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-shoe {
  width: 900px;
  transform: rotate(-5deg);
  filter: drop-shadow(0 40px 50px rgba(0,0,0,0.7));
  margin-left: -150px;
}

/* RIGHT */
.hero-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.thumb {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb img {
  width: 90px;
}

.pink { background: linear-gradient(135deg,#ff4fd8,#ff8fbf); }
.blue { background: linear-gradient(135deg,#2f6bff,#6fa8ff); }
.purple { background: linear-gradient(135deg,#6f2fff,#c28bff); }